<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="img/logo/alert-outline.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="css/all.css" type="text/css" />
    <link rel="stylesheet" href="css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <title>ReadDaLib!</title>
  </head>

  <body>
    <div class="container">
      <!-- Navigation Section -->
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="book"></ion-icon>
              </span>
              <span class="title">ReadDaLib!</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">Users</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="chatbubble-outline"></ion-icon>
              </span>
              <span class="title">Messages</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="help-outline"></ion-icon>
              </span>
              <span class="title">Help</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="settings-outline"></ion-icon>
              </span>
              <span class="title">Settings</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Password</span>
            </a>
          </li>
          <li>
            <a href="view/login/index.html">
              <span class="icon">
                <ion-icon name="log-out-outline"></ion-icon>
              </span>
              <span class="title">Log Out</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- Main Section -->
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>
          <!-- Search -->
          <!-- <div class="search">
            <label>
              <input type="text" name="search" placeholder="Search Here..." />
              <ion-icon name="search">P</ion-icon>
            </label>
          </div> -->
          <!-- User Account -->
          <div class="user">
            <img src="img/customers/default.jpg" alt="user image" />
          </div>
          <div class="accountMenu">
            <h3>Noha Fawzy<br /><span>Entrepreneur</span></h3>
            <ul>
              <li>
                <img src="img/user/user.png" alt="profile" />
                <a href="#">My Profile</a>
              </li>
              <li>
                <img src="img/user/log-out.png" alt="profile" />
                <a href="view/login/index.html">Log Out</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Cards -->
        <div class="cardBox">
          <div class="card">
            <div class="cardDetails">
              <div class="numbers">0</div>
              <div class="cardName">Books</div>
            </div>
            <div class="iconBx">
              <ion-icon name="library-outline"></ion-icon>
            </div>
          </div>
          <div class="card">
            <div class="cardDetails">
              <div class="numbers">2</div>
              <div class="cardName">Users</div>
            </div>
            <div class="iconBx">
              <ion-icon name="people-outline"></ion-icon>
            </div>
          </div>
          <div class="card">
            <div class="cardDetails">
              <div class="numbers">0</div>
              <div class="cardName">Transactions</div>
            </div>
            <div class="iconBx">
              <ion-icon name="swap-horizontal-outline"></ion-icon>
            </div>
          </div>
        </div>
        <!-- Details -->
        <div class="details">
          <!-- Order Details List -->
          <div class="recentOrders">
            <div class="cardHeader">
              <h2>Recent Activities</h2>
            </div>
            <table>
              <thead>
                <tr>
                  <td>User</td>
                  <td>Action</td>
                  <td>Time</td>
                  <td>Status</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Aldi</td>
                  <td>Change Password</td>
                  <td>26 May 2023</td>
                  <td><span class="status delivered">Done</span></td>
                </tr>
                <tr>
                  <td>Aldi</td>
                  <td>Change Password</td>
                  <td>26 May 2023</td>
                  <td><span class="status inprogress">In Progress</span></td>
                </tr>
                <tr>
                  <td>Aldi</td>
                  <td>Change Password</td>
                  <td>26 May 2023</td>
                  <td><span class="status return">Denied</span></td>
                </tr>
                <tr>
                  <td>Aldi</td>
                  <td>Change Password</td>
                  <td>26 May 2023</td>
                  <td><span class="status inprogress">In Progress</span></td>
                </tr>
                <tr>
                  <td>Aldi</td>
                  <td>Change Password</td>
                  <td>26 May 2023</td>
                  <td><span class="status delivered">Done</span></td>
                </tr>
                <tr>
                  <td>Aldi</td>
                  <td>Change Password</td>
                  <td>26 May 2023</td>
                  <td><span class="status inprogress">In Progress</span></td>
                </tr>
                <tr>
                  <td>Aldi</td>
                  <td>Change Password</td>
                  <td>26 May 2023</td>
                  <td><span class="status return">Denied</span></td>
                </tr>
                <tr>
                  <td>Aldi</td>
                  <td>Change Password</td>
                  <td>26 May 2023</td>
                  <td><span class="status inprogress">In Progress</span></td>
                </tr>
                <tr>
                  <td>Aldi</td>
                  <td>Change Password</td>
                  <td>26 May 2023</td>
                  <td><span class="status inprogress">In Progress</span></td>
                </tr>
                <tr>
                  <td>Aldi</td>
                  <td>Change Password</td>
                  <td>26 May 2023</td>
                  <td><span class="status inprogress">In Progress</span></td>
                </tr>
                <tr>
                  <td>Aldi</td>
                  <td>Change Password</td>
                  <td>26 May 2023</td>
                  <td><span class="status inprogress">In Progress</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- New Customers -->
        </div>
      </div>
    </div>
    <!-- End of Code -->

    <!-- Scripts Files -->
    <script src="js/all.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="js/mycharts.js"></script>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
